.section-services__line {
    flex-wrap: wrap !important;
    align-items: start;
}

.section-services__columns {
    width: calc(100% / 3 - 32px);
}

.section-services__columns .section-services__column__image {
    border-radius: 0.5rem;
}


.section-depoimentos__line {
    width: 100%;
    height: 2px;
}



